{% extends 'base.html' %}
{% block content %}
  <h1>Pricing</h1>
  <div class="row">
    <div class="container col-sm-6">
      <div class="container border">
        <table id='pricingtable'>
          <thead>
            <th><h5>Equipment</h5></th>
            <th "><h5>Price</h5></th>
          </thead>
            {% for quip in pricing %}
              <tr style="height:25px;" class="border">
                <td id='pricewidth'>{{quip}}</td>
                <td id='pricewidth' style='text-align:center;'><strong>${{pricing[quip]}}</strong></td>
                <td ><button type="button" name="button" class="btn btn-primary">Add</button></td>
              </tr>
            {% endfor %}
        </table>
      </div>
    </div>
    <div class="container col-sm-6">
      <table id='pricingtable'>
        <form class="" action="index.html" method="post">
        </form>
      </table>
    </div>
  </div>
  <div style="float:right;">
    <button style =type="button" name="button" class='btn btn-info'>Checkout</button>
  </div>
{% endblock content %}
