{% extends 'base.html' %}
{% block title %} Add Site {% endblock title %}
{% block content %}
    <h1 id="titlecolor" style="font-family: 'Staatliches', cursive;"> Add Site </h1>
    <div class='form-group border' style="padding-left:10px; padding-bottom:10px; border-radius:10px; box-shadow: 5px 10px 18px #888888 !important;">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.sitename.label() }} <br>
            {{ form.sitename(style="border-radius:5px;")}} <br><br>
            {{ form.contractstart.label() }} <br>
            {{ form.contractstart(class='dtpck', style="border-radius:5px;") }} <br><br>
            {{ form.contractend.label() }} <br>
            {{ form.contractend(class='dtpck', style="border-radius:5px;") }} <br><br>
            {{ form.hwkey.label() }} <br>
            {{ form.hwkey(style="border-radius:5px;") }} <br><br>
            {{ form.stations.label() }} <br>
            {{ form.stations(style="border-radius:5px;") }} <br><br>
            {{ form.printers.label() }} <br>
            {{ form.printers(style="border-radius:5px;") }} <br><br>
            {{ form.remprinters.label() }} <br>
            {{ form.remprinters(style="border-radius:5px;") }} <br><br>
            {{ form.bof() }}
            {{ form.bof.label() }} <br>
            {{ form.processor.label() }} <br>
            {{ form.processor(style="border-radius:5px;") }} <br><br>
            {{ form.giftopt.label() }} <br>
            {{ form.giftopt(style="border-radius:5px;") }} <br><br>
            <button type='submit' class='btn btn-primary'>Add Site</button>
        </form>
    </div>
    
   

{% endblock content %}