<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  
  <body {%block border%} {%endblock%}>
    <span id='username' style='display:none;'>{{current_user.username}}</span>
    <div class="container"> <!--APOS Header srt-->
      {% if current_user.adminstatus == 1 %}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#3a414c;">
          <a class="navbar-left" href="#"><img src="{{url_for('static',filename = 'images/Austin_POS_Logo.png')}}" alt="apos_logo" style="width: 150px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" {%block tabby%}{%endblock tabby%}>
            <ul class="navbar-nav mr-auto">
              {% if current_user.is_authenticated %}
                <li class='nav-item' id="navvy2">
                  <a class="nav-link"href="{{url_for('dash')}}"{% block dashtab%}{%endblock%}>{{ current_user.site }}</a>
                </li>
              {% endif %}
              <li class="nav-item" id='navvy'>
                <a class="nav-link"href="{{ url_for('pricing')}}"{% block pricingtab%}{%endblock%}>Pricing</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link"href="{{ url_for('sites') }}"{% block sitestab%}{%endblock%}>Sites</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{ url_for('rma')}}"{% block rmatab%}{%endblock%}>Rma</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{ url_for('register') }}"{% block registertab%}{%endblock%}>Register</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{url_for('faqs')}}"{% block faqstab%}{%endblock%}>FAQs</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{url_for('contact')}}"{% block contacttab%}{%endblock%}>Contact</a>
              </li>
            </ul>
              <a class = "carty-btn" href="{{url_for('pricing')}}"> <span> <img src="{{url_for('static',filename = 'images/carty.png')}}" alt="cart_logo" style="width: 30px;"> <i id="cartbadge"  class="badge" style="font-size:15px;color:lightskyblue; background-color:#3a414c; box-shadow:3px 3px 3px black;">{{ BADGE_LENGTH }}</i> </span></a>
              <a style="color:white;" href="{{url_for('logout')}}"><button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button></a>
          </div>
        </nav>
      {% else %}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#3a414c;">
          <a class="navbar-left" href="#"><img src="{{url_for('static',filename = 'images/Austin_POS_Logo.png')}}" alt="apos_logo" style="width: 150px"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              {% if current_user.is_authenticated %}
                <li class='nav-item' id='navvy2'>
                  <a class="nav-link" href="{{url_for('dash')}}" style="font-weight:600">{{ current_user.site }}</a>
                </li>
              {% endif %}
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{ url_for('pricing')}}">Pricing</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{ url_for('rma')}}">Rma</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{url_for('siteinfo')}}">{{current_user.site}} Info</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{url_for('faqs')}}">FAQS</a>
              </li>
              <li class="nav-item" id='navvy'>
                <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
              </li>
            </ul>
            <a class = "carty-btn" href="{{url_for('pricing')}}"> <span> <img src="{{url_for('static',filename = 'images/carty.png')}}" alt="cart_logo" style="width: 30px;"> <i id="cartbadge"  class="badge" style="font-size:15px;color:lightskyblue; background-color:#3a414c; box-shadow:3px 3px 3px black;">{{ BADGE_LENGTH }}</i> </span></a>
            <a style="color:white;" href="{{url_for('logout')}}"><button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button></a>
          </div>
        </nav>
      {% endif %}
    </div>

    <div class="container"><!--end-->
      <br>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info alert-success">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock content %}

      <!-- APOS MESSAGE BOX -->
    <div id="maxbox" style="width:250px; position:fixed; bottom:0; height:375px; right: 100px; border: 1px solid black; padding-bottom:10px; border-radius: 5px; background-color: white; z-index:9999;">
        <p style="border-bottom:1px solid black; color:white; background-color: #3a414c; height:35px;"><span style="margin-left:5px;">Message</span> <span style="float:right; margin-right:5px;"> <span id="minimize" style="margin-right:5px;">_</span> <span id="messageexit" >x</span></span></p>
        <div class="border" id="messages" style="margin-left:5px; border-radius:3px;padding-top:0px;color:gray; margin-right:5px; overflow:auto; height:200px;">
            <h1 id="nomess">No Messages</h1>
        </div>
        <div style="padding-left:5px;padding-right:5px; position:absolute; bottom:0; margin-bottom:5px;">
          <form id="form2" method='POST'>
              <textarea id="messageinput" cols="30" placeholder="Message"style="width:100%; min-height:25px; max-height:275px; border-radius: 5px;"></textarea>
              <button class="btn btn-success" type="submit" style="width:100%;">Send</button>
          </form>
        </div>
      </div>
    </div>

    <p id="minbox" style="margin:0px; padding:0px; display:none; width:250px; position:fixed; bottom:0; right: 100px; border-top-left-radius: 5px; border-top-right-radius: 5px; color:white; background-color: #3a414c; height:35px;z-index:9999"><span style="margin-left:5px;">Message</span> <span style="float:right; margin-right:5px;"> <span id="maximize" style="margin-right:5px;">_</span> <span id="messageexitmin">x</span></span></p>
    
    <script>window.onload = function(){
        $('#exampleModalLong').modal('show');}
    </script>
    
    <script type="text/javascript" src="{{url_for('static', filename = 'JS/newmessage.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename = 'JS/popform.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block scripts%}{%endblock%}
    
    
  

    <script type="text/javascript">

      var minimize = document.getElementById('minimize');
      var maximize = document.getElementById('maximize');
      var exit = document.getElementById('messageexit');
      var exitmin = document.getElementById('messageexitmin');
      var maximum = document.getElementById('maxbox');
      var minimum = document.getElementById('minbox');

      minimize.addEventListener('click', function(){
        maximum.style.display = 'none';
        minimum.style.display = 'block';
      });

      exit.addEventListener('click', function(){
        maximum.style.display = 'none';
        minimum.style.display = 'none';
      })

      exitmin.addEventListener('click', function(){
        maximum.style.display = 'none';
        minimum.style.display = 'none';
      })

      maximize.addEventListener('click', function(){
        maximum.style.display = 'block';
        minimum.style.display = 'none';
      })

      var socket = io.connect('http://' + document.domain + ':' + location.port );
      socket.on('connect', function(){
          socket.emit('my event', {data: 'User is connected'});
      })

      var form = document.getElementById("form2");
      form.addEventListener('submit', function(e){
          e.preventDefault();
          var user_input = $('#messageinput').val();
          socket.emit('my event', {
              msg : user_input
          })
          $('#messageinput').val('').focus()
      });

      socket.on('my response', function(msg){
          var un = document.getElementById('username').innerHTML;
          if(typeof msg.msg !== 'undefined'){
              $('#nomess').remove()
              $('#messages').append("<div style='border-bottom: .2px solid lightgray'>"+"<span style='color:black'>"+un+": "+"</span>"+msg.msg+"<div>")
          }
          var objDiv = document.getElementById("messages");
          objDiv.scrollTop = objDiv.scrollHeight;
      })
  </script>
  </body>
</html>
