{% extends 'base.html' %}
{% block title %}FAQs{% endblock %}
{% block faqstab%}
style="font-family: 'Ubuntu', sans-serif;
color: #44659b !important;
background-color:white !important;
border-top-left-radius:3px;
border-bottom-left-radius: 3px;"
{%endblock%}
{% block border%}style="padding-bottom:50px;"{%endblock%}
{% block content %}
    <div class="row" style="margin-top:0px;">
       <div class="border col-lg-6" style="float:left; border-left : none !important; border-right: none !important; border-left: none !important; border-top: none !important;">
            <h1 id="titlecolor" style="font-family: 'Staatliches', cursive;">Frenquenly Asked Questions</h1>
       </div>
       <div class=" col-lg-6" style=" margin-top:50px;">
            <div style="float:right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"  style="width:150px; box-shadow: 5px 5px 14px #888888" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter Issues
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Printers</a>
                        <a class="dropdown-item" href="#">Terminal</a>
                        <a class="dropdown-item" href="#">Credit Cards</a>
                        <a class="dropdown-item" href="#">Close Day</a>
                        <a class="dropdown-item" href="#">Gift Cards</a>
                    </div>
                </div>
            </div>
       </div>
    </div>
    
    <div class='row'>
        <div class="col-3">
            <div style="box-shadow: 5px 5px 14px #888888 !important; width:100px; background-color: #3a414c; border-radius: 5px;"  >
                <h3 style="padding-top:2px;  padding-left:5px; font-weight:600; color:lightgray">Help</h3>
                    <div style="padding-left:5px; padding-bottom:10px; padding-top:10px; border-top: 1px solid lightgray; margin-top:0px;">
                        <a id="faqnav" style="text-decoration:none; color: white;" href="#">Networking</a><br><br>
                        <a id="faqnav" style="text-decoration:none; color: white;" href="#">Printers</a></p>
                        <a id="faqnav" style="text-decoration:none; color: white;" href="#">Terminal</a></p>
                        <a id="faqnav" style="text-decoration:none; color: white;" href="#">Offline</a></p>
                        <a id="faqnav" style="text-decoration:none; color: white;" href="#">Gift Cards</a></p>
                        <a id="faqnav" style="text-decoration:none; color: white;" href="#">Logmein</a></p>
                    </div>
                </p>
            </div>
            
        </div>
        <div class="col-9" >
            <div>
                <div>
                    <div class="border" style="margin-left:20px; padding-top:10px; padding-bottom:50px; border-top:none !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important;">
                        
                        <div id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">My printer is not printing?</a><br><br>
                            </div>
                            
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important ; margin-left:20px; margin-right:20px"></div>
                        <div id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">My credit cards aren't authorizing?</a><br><br>
                            </div>
                            
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">Why isn't my terminal isn't turning on?</a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div  class="border" id="Questions">
                                <a href="#">How do I go about setting up gift cards?</a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">How do I get logmein access?</a><br><br>
                            </div>
                        </div>

                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">My Terminal has blue screen screen of death.</a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">The backup path '\\BACKUP\C\FOCUS\' could not be found.</a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">The primary path '\\FOCUS\C\FOCUS\' could not be found.
                                    Do you want to switch to the backup path?
                                </a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">How to add a button to the screen?
                                </a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">How to add a canvas to the screen?
                                </a><br><br>
                            </div>
                        </div>
                        <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important; margin-left:20px; margin-right:20px"></div>

                        <div  id="questionpop">
                            <div class="border" id="Questions">
                                <a href="#">How do I go in offline mode?
                                </a><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}