{% extends 'base.html' %}
{% block title %}FAQs{% endblock %}
{% block faqstab%}
style="font-family: 'Ubuntu', sans-serif;
color: #44659b !important;
background-color:white !important;
border-top-left-radius:3px;
border-bottom-left-radius: 3px;"
{%endblock%}
{% block border%}style="padding-bottom:50px;"{%endblock%}
{% block content %}
    <div class="row" style="margin-top:0px;">
       <div class="border col-lg-6" style="float:left; border-left : none !important; border-right: none !important; border-left: none !important; border-top: none !important;">
            <h1 id="titlecolor" style="font-family: 'Staatliches', cursive;">Frenquenly Asked Questions</h1>
       </div>
       <div class=" col-lg-6" style=" margin-top:50px;">
            <div style="float:right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style=" margin-top:5px; width:125px; box-shadow: 5px 5px 14px #888888;margin-left:10px;">
                    Create Question
                </button>
            </div>
            <div style="float:right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"  style="width:125px; box-shadow: 5px 5px 14px #888888; margin-left:10px; margin-top:5px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter Issues
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Printers</a>
                        <a class="dropdown-item" href="#">Terminal</a>
                        <a class="dropdown-item" href="#">Credit Cards</a>
                        <a class="dropdown-item" href="#">Close Day</a>
                        <a class="dropdown-item" href="#">Gift Cards</a>
                    </div>
                </div>
            </div>
            <div style="float:right">
                <button class="btn btn-info" style="width:125px;box-shadow: 5px 5px 14px #888888; margin-top:5px;">Docs</button>
            </div>
       </div>
    </div>
    
    <div class='row'>
        <div class="col-12" >
            <div>
                <div>
                    <div class="border" style="margin-left:20px; padding-top:10px; padding-bottom:50px; border-top:none !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important;">
                        <p style="display:none;"></p>
                        {% if questions %}
                            {% for x in questions %}
                                    <div class="border" style="border-left : none !important; border-bottom: none !important; border-right: none !important; border-left: none !important ; margin-left:30px; margin-right:30px"></div>
                                    <div id="questionpop">
                                        <div class="border" id="Questions">
                                            <a id="questioncategory" href="{{ url_for('faqs' + x.Type) }}">{{x.Question}}</a><br><br>
                                            <p style="font-size:15px; float:right;color:gray;">{{x.Type}}</p>
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    <!-- ASK QUESTION FORM -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{form.hidden_tag()}}
                        {% if form.Type.errors %}
                            {% for field in form.Type.errors %}
                                {% for error in form.Type.errors[field] %}
                                    <div class="alert alert-error">
                                        <strong>Error!</strong> {{error}}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {%else%}
                            {{form.Type(style="margin-bottom:10px;")}}
                        {% endif %}
        
                        {% if form.Question.errors %}
                            {% for field in form.Question.errors %}
                                {% for error in form.Question.errors[field] %}
                                    <div class="alert alert-error">
                                        <strong>Error!</strong> {{error}}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {%else%}
                        {{form.Question(style="width:100%", rows=5)}}
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Create Question</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block faqcontent %}{% endblock faqcontent %}
  

  
{% endblock content %}