{% extends 'base.html' %}
{% block title %} Pricing {% endblock title %}
{% block pricingtab%}
style="font-family: 'Ubuntu', sans-serif;
color: #44659b !important;
background-color:white !important;
border-top-left-radius:3px;
border-bottom-left-radius: 3px;"
{%endblock%}
{% block content %}
  <h1 id="titlecolor" style="font-family: 'Staatliches', cursive;">Pricing</h1>
  <div class="row">
    <div class="container col-sm-6" style="float:left;">
      <div class="container border" style="border-radius:10px; padding-bottom:10px; box-shadow: 5px 10px 18px #888888; margin-bottom:25px;">
        <table id='table'>
          <thead>
            <th><h5 style="font-family: 'Staatliches', cursive;">Equipment</h5></th>
            <th><h5 style="font-family: 'Staatliches', cursive;">Price</h5></th>
          </thead>
            {% for quip in pricing %}
              <tr style="height:25px;" class="border">
                <td id='pricewidth'>{{quip}}</td>
                <td id='pricewidth' style='text-align:center;'>{{pricing[quip]}}</td>
                <td ><button type="button" name="button" class="btn btn-primary">Add</button></td>
              </tr>
            {% endfor %}
        </table>
      </div>
    </div>
    <div class="container col-sm-6" id='quickview'style="float:right;display:none;">
      <div class="border" style="border-radius:5px; padding-left:10px; padding-bottom:10px;">
        <table id='cart'>
        </table>
        <div id='pricefooter'>
          <h1 style="margin-top:25px; border-top:.5px black solid; font-family: 'Staatliches', cursive;">Subtotal: $<span id='subtotal'>0</span></h1>
          <form action="{{url_for('Order')}}"><button type="submit" name="button" class='btn btn-warning'>Checkout</button></form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
