{% extends 'base.html' %}
{% block title %} Sites {% endblock title %}
{% block content %}
    <h1>Sites</h1>
    <div class='row border'>
        <div class='col-sm-6 container'>
            <form action="{{url_for('addsites')}}">
                <button type='submit' class='btn btn-primary' style='width:200px;'>Add Site</button>
            </form>
            <br>

<!-- ClICK TO VIEW MESSAGE -->
            <button class='btn btn-success' id="buttmessage" style='width:200px;'>New Message</button><br><br>

<!-- MESSAGE BOX -->
            <div id="message" style="display:none">
                <form method="POST">
                    {{form.hidden_tag()}}
                    {{form.message(style="width:200px;")}}
                    <button type="submit" class="btn btn-info" >Send</button>
                </form>
            </div>

<!-- SITE INFO TABLE -->
            <div class='border' style='padding-bottom: 20px;'>
                <label for="site"><strong>View Site</strong></label> <br>
                <form action="/siteinfo" method="POST">
                    <select name='sitesss' style='width:200px;'>
                        {% for site in sites %}
                        <option>{{site.sitename}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" id="viewsite" class='btn btn-info'>View Site</button>
                </form>
            </div>
         </div>
        <div class='col-sm-6' id="siteinfo">
            <table>
                {%for site in sites%}
                    {%if x == site.sitename%}
                        <tr>
                            <th class="border" style="border-right:1px solid black !important;">Site</th>
                            <td class="border" style="text-align:right;">{{site.sitename}}</td>    
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">Contract Start</th>
                            <td class="border" style="text-align:right;">{{site.contractstart}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">Contract End</th>
                            <td class="border" style="text-align:right;">{{site.contractend}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">HWKey</th>
                            <td class="border" style="text-align:right;">{{site.hwkey}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">Stations</th>
                            <td class="border" style="text-align:right;">{{site.stations}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">Printers</th>
                            <td class="border" style="text-align:right;">{{site.printers}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">Remote Printers</th>
                            <td class="border" style="text-align:right;">{{site.remprinters}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">BOF</th>
                            <td class="border" style="text-align:right;">{{site.bof}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">Processor</th>
                            <td class="border" style="text-align:right;">{{site.processor}}</td>
                        </tr>
                        <tr>
                            <th class="border"  style="border-right:1px solid black !important;">GiftCards</th>
                            <td class="border" style="text-align:right;">{{site.giftopt}}</td>
                        </tr>
                    {% endif %}
                {%endfor%}
            </table>
        </div>
    </div>
{% endblock content %}